body{
  footer{
    clear: both;
    margin-top: 10%;
    padding-top: 3%;
    padding-bottom: 3%;
    height: 75px;
    background-color: white;
    border-top: 2px solid gray;
    height:100px;

    div{
      float: left;
      padding-top:0%;
      padding-right: 5%;
      padding-left: 5%;
    }
    div ul{
      padding-left: 3%;
      text-decoration: none;

    }
    .footer-text {
      text-decoration: none;
      color: rgb(14, 35, 61);
    }
      #footer-table1{
      font-family: Verdana;
      font-size: 17px;
      float: left;
      width: 50%;
      padding-left: 10%;
      font-weight: 500;

        .headers{
          padding-bottom: 5%;
          border-bottom: 1.5px solid rgb(123, 161, 246);
          font-weight: 500;
        }
        .footer-header-minor{
          padding-top: 7%;
        }
      }

    #footer-table2{
      font-family: Verdana;
      font-size: 17px;
      float: right;
      width: 20%;
      font-weight: 500;

      #footer-table2-list {
        padding-bottom: 2%;
        padding-left: 10%;

        #footer-circle{
          border-radius: 100%;
          background-color: rgb(16,119,242);
          position: absolute;
          height: 30px;
          width: 30px;
          margin-left: -45px;
        }
      }
    }
  }
}